itter topbody {
	font-family: interstate,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

}

.brand img {
    width: 120px;
}

.body {
	background-color: #fcfaf7;
	font-family: Interstate,sans-serif;
	font-feature-settings: "tnum","tnum";
}

.navbar {
	border-bottom: 1px solid #f2efe7;
}

.navbar-inner {
    min-height: 79px;
}

.navbar .nav li a {
	font-family: Interstate-condensed, sans-serif;
	font-feature-settings: "tnum", "tnum";
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.352px;
	text-transform: none !important;
}

.collection-category h2 a {
	font-family: Interstate,sans-serif;
	color: #193368;
	font-weight: 700;
    letter-spacing: -.022em;
	font-size: 2.5rem;
}

@media (max-width: 768px) {
	.category-list .category, .category-list.two-col .category {
			width: 5%;
	}
}

.category-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
}

.category-list .category, .category-list a.category:hover {
	background-image: url('calendar2.png');
	background-repeat: no-repeat;
  	background-size: 80px 80px;
	background-position: center 20%;
	padding: 110px 15px 15px 15px;
	width: inherit;
	border-radius: 12px;
	border-color: #f2efe7;
}

.category-list a.category:hover {
	background-color: #fcfaf7;
	-webkit-transition: none;
    transition: none;
}

.category h3 {
	font-family: Interstate,sans-serif;
	font-weight: 600;
	color: #193368;
	letter-spacing: -.022em;
}


/* header */

#docsSearch {
	padding-top: 3.75rem;
    padding-bottom: 3.75rem;
	background-color: #fcfaf7;
}

#docsSearch h1 {
	font-family: inherit;
	font-size: 3rem;
	font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.4em;
    color: #f6c120;
}


/* home */

/*search bar*/

#searchBar {
	display: flex;
	align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#searchBar button{
	background-color: #f6c120;
    color: #0f1f40;
    font-weight: 700;
    text-decoration: none;
	border: 1px solid #f6c120;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0.85em 3em;
    border-radius: 5px;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-family: inherit;
    font-size: .9rem;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    text-shadow: none;
    position: relative;
    top: 0;
    right: 0;
}

#searchBar button:hover {
    background-color: #f9d56a;
    color: #0f1f40;
}

/* collections */

.twoCol .collection, .threeCol .collection, .twoCol .collection .collection-head, .threeCol .collection .collection-head {
	border-color: #0f1f40;
}
.twoCol h2, .threeCol h2, .twoCol h2 a, .threeCol h2 a {
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #f6c120;
    transition: .25s ease-out,color .25s ease-out;
}

.twoCol h2 a:hover, .threeCol h2 a:hover {
	color: #f9d56a;
}

.twoCol p, .threeCol p {
	font-family: inherit;
	font-size: 1rem;
	color: #0f1f40
}

 #serp-dd .result > li.active, #fullArticle strong a, #fullArticle a strong, .collection a, .contentWrapper a, .most-pop-articles .popArticles a, .category-list .category .article-count, .related ul>li a {
	color: #193368
}

.twoCol .popArticles a span, .threeCol .popArticles a span, .most-pop-articles .popArticles a span, .articleList a span, .related ul>li a span {
	line-height: inherit;
    color: #193368;
    text-decoration: underline;
    cursor: pointer;
}

.twoCol .popArticles a:hover span, .threeCol .popArticles a:hover span, .most-pop-articles .popArticles a:hover span, .articleList a:hover span, .related ul>li a:hover span {
    text-decoration: none;
}

/*articleList*/
#sidebar h3 {
	font-family: inherit;
	font-size: 1.25rem;
	font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #193368;
}

#sidebar .nav-list a {
	display: inline-block;
    color: #777;
    font-size: 1rem;
    padding: 6px 15px 6px 0;
    line-height: 20px;
    margin-left: 0;
    font-weight: 400;
}

.contentWrapper h1 {
	color: #f6c120;
	font-family: inherit;
	font-size: 2.25rem;
	font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

/*full article*/
#fullArticle strong, #fullArticle p, #fullArticle ul, #fullArticle ol, #fullArticle li, #fullArticle div, #fullArticle blockquote, #fullArticle dd, #fullArticle table {
	color: #193368;
	font-size: 1rem;
}
.contentWrapper #fullArticle h1.title {
	color: #f6c120;
	font-size: 2.25rem;
    font-weight: 800;
}

.contentWrapper #fullArticle h1 {
	font-size: 2rem;
	text-transform: none;
	color: #193368;
    font-weight: 700;
}

#fullArticle h2, #fullArticle h3, #fullArticle h4, #fullArticle h5 {
	font-weight: 700;
    text-transform: uppercase;
    overflow-wrap: normal;
	color: #193368;
}

#fullArticle h2 {
	font-size: 1.75rem;
}

#fullArticle h3 {
	font-size: 1.5rem;
}

 #fullArticle h4 {
 	 	font-size: 1.25rem;
 }

 #fullArticle h5 {
 	font-size: 1.125rem;
 }
